<%= render 'navbar' %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media1.fdncms.com/inlander/imager/u/original/24484900/movie-theater.jpg);">
  <div class="container">
    <h1>Save any kind of movies</h1>
    <p>Classic</p>
  </div>
</div>
<div>
  <div>
    <h3>My Lists</h3>
    <div>
      <% @lists.each do |list| %>
        <div class="card-list">
        <%= link_to list.name, list_path(list) %>
        </div>
      <% end %>
    </div>
  </div>
  <div>
    <%= link_to 'Create a movie list', new_list_path %>
  </div>
</div>
